{{ define "main" }}
  <article id="main">
    <header>
      <img src="/logo.png" alt="{{ .Site.Title }} Logo" width="250px">
      <h2>{{ .Title }}</h2>
      <p>{{ .Description }}</p>
    </header>

    <section class="wrapper style5">
      <div class="inner">
        {{ .Content }}

        {{ range .Pages }}
          {{ if lt now .Params.startDate }}
           <h2>Upcoming Exhibit</h2>
          {{ end }}

          {{ if and (gt now .Params.startDate) (lt now .Params.endDate) }}
           <h2>Current Exhibit</h2>
          {{ end }}

          <div class="box clear">
              <h3><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
              <p>
                {{ $image := .Resources.GetMatch "image.jpg" }}
                {{ with $image }}
                  {{ $image := $image.Fit "300x300" }}
                  <span class="image right">
                    <img src="{{ $image.RelPermalink }}" alt="{{ .Title }}">
                  </span>
                {{ end }}

                {{ .Summary }}
              </p>

              {{ if .Params.website }}
                <p>
                  <a class="button" href="{{ .Params.website }}">
                    Learn More
                  </a>
                </p>
              {{ end }}
          </div>

          {{ if and (gt now .Params.startDate) (lt now .Params.endDate) }}
           <h2>Previous Exhibits</h2>
          {{ end }}
        {{ end }}

        <br class="clear">
      </div>
    </section>
  </article>
{{ end }}